<div class="text-center">
  <form class="form-signin">
    <img class="mb-4" src="images/logo.png" alt="" width="144" height="144">
    <h1 class="h3 mb-3 font-weight-normal">Rastreo de Paquetes</h1>
    <label for="inputUser" class="sr-only">Usuario</label>
    <input type="text" id="inputUser" class="form-control" placeholder="Email address" required autofocus ng-model="userName">
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" id="inputPassword" class="form-control" placeholder="Password" required ng-model="password">
    <div class="checkbox mb-3">
      <label>
        <input type="checkbox" value="remember-me"> Recordarme
      </label>
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit" ng-click="login()">Ingresar</button>
    <p class="mt-5 mb-3 text-muted">Curso de programación web frontend</p>
  </form>
</div>
